:root {
  --bg-color: #F2F9FF;
  --surface-color:#008AFF;
  --accent-color: #FF9C8E;
  --accent-hover: #FF7E6C;

  --border-radius: 200px;
}

html.dark {
  --bg-color: #F2F6FA;
  --surface-color: #2C2C2C;
  --accent-color: #2060F6;
  --accent-hover: #144ED4;

  --border-radius: 30px;
}
