$main-font: "Open Sans", sans-serif;
$title-font: "Poppins", sans-serif;

$primary-color: #6c788b;
$title-color: #253757;

$light-blue-color: #56CCF2;
$yellow-color: #FCC91D;
$green-color: #15D850;
$coral-color: #F36363;
